{% extends "base.html" %} {% block title %}mapmapMAPmapmap {% endblock %}


{% block content %}

{% if user.is_authenticated %}

<h1>I AM A MAP IM THE MAP HERE IS THE MAP We practicing KML layerz</h1>

<div id="map-container" style="height: 800px"> <!--Maps will live here! --> </div>
<div id="capture"></div>





<script async
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYLlRZuxNN0Q8dVQfZ6tTmS-NDBuwo2JY&callback=initMap">
</script>
  <script defer src="/static/map.js"></script>










<br />
<br />
<br />
<br />

<div>
<iframe src="{{ url_for('static', filename='chat-window.html') }}" name="chat-window" style="border:2px solid grey" height="300" width="65%" class="mx-auto d-block" title="chat session"></iframe>
</div>
<div>
    <iframe width="65%"  class="mx-auto d-block"  height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/243634344&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/caliban-romero" title="Caliban Romero" target="_blank" style="color: #cccccc; text-decoration: none;">Caliban Romero</a> · <a href="https://soundcloud.com/caliban-romero/sets/vrvrvr" title="VR" target="_blank" style="color: #cccccc; text-decoration: none;">VR</a></div>
</div>


{% endif %}

{% endblock %}